@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-accent-1: #c6a288;
  --color-accent-2: #c99678;
  --color-secondary-1: #4b403e;
  --color-secondary-2: #120d0c;
  --color-primary-1: #f3f3f3;
  --color-primary-2: #d6d6d6;

  --header-font: "Poppins", sans-serif;
  --content-font: "Urbanist", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--content-font);
}

.header {
  margin: 0;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 999;
}  

.choices {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-left: 3.5rem;
  padding-right: 6rem;
}

.buttons {
  font-size: 22px;
  height: 45px;
  color: aliceblue;
  text-decoration: none;
  font-weight: 1000;
  padding-left: 2rem;
  padding-right: 2rem;
  transition: all 0.3s ease;
  border-bottom: 3px solid transparent;
}

.buttons:hover {
  transform: scale(0.85);
  opacity: 0.9;
  border-bottom: 5px solid rgb(236, 223, 223);
}

body {
  color: var(--color-primary-1);
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.movie {
  position: relative;
  width: 100%;
}

.wallpaper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: sepia(0.4) hue-rotate(-10deg) opacity(0.6);
}

.container {
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
  height: 100vh;
  width: 100%;
  gap: 6rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.info-1 {
  width: 50%;
  margin-left: 0;
}

.subtitle-1 {
  letter-spacing: 9px;
  text-shadow: 0 0 3px black;
  font-size: 4.5rem;
  font-weight: 700;
  font-family: var(--header-font); 
}

.description-1 {
  text-shadow: 0 0 3px black;
  font-size: 1.3rem;
  font-style: italic;
}

.info-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  margin-top: -2rem; 
  margin-left: auto; 
  text-align: right; 
}

.subtitle-2 {
  letter-spacing: 9px;
  text-shadow: 0 0 3px black;
  font-size: 4.5rem;
  font-weight: 700;
  font-family: var(--header-font); 
}

.description-2 {
  text-shadow: 0 0 3px black;
  font-size: 1.3rem;
  font-style: italic;
}

.info-3 {
  width: 50%;
  margin-right: 0; 
}

.subtitle-3 {
  letter-spacing: 9px;
  text-shadow: 0 0 3px black;
  font-size: 4.5rem;
  font-weight: 700;
  font-family: var(--header-font); 
}

.description-3 {
  line-height: 32px;
  text-shadow: 0 0 3px black;
  font-size: 1.3rem;
  font-style: italic;
}
